Appium-Python-Client==1.0.2
arabic-reshaper==2.1.3
asn1crypto==1.5.1
async-generator==1.10
atomicwrites==1.4.0
attrs==21.4.0
backports.cached-property==1.0.2
browserstack-local==1.2.3
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
comtypes==1.1.13
contourpy==1.0.5
cryptography==37.0.2
cssselect2==0.6.0
cycler==0.11.0
decorator==5.1.1
docutils==0.18.1
EasyProcess==1.1
et-xmlfile==1.1.0
ffmpeg==1.4
ffmpeg-python==0.2.0
ffmpy==0.3.0
ffprobe==0.5
flex==6.14.1
fonttools==4.37.2
future==0.18.2
genson==1.2.2
grpcio==1.48.1
grpcio-tools==1.48.1
gTTS==2.2.4
h11==0.13.0
html5lib==1.1
idna==3.3
imageio==2.22.0
importlib-metadata==4.12.0
iniconfig==1.1.1
install==1.3.5
jaraco.classes==3.2.2
jsonpath-ng==1.5.3
jsonpointer==2.3
jsonschema==4.15.0
keyring==23.9.1
kitchen==1.2.6
kiwisolver==1.4.4
lxml==4.9.1
matplotlib==3.6.0
more-itertools==8.14.0
MouseInfo==0.1.3
mss==6.1.0
networkx==2.8.6
numpy==1.23.2
opencv-python==4.6.0.66
openpyxl==3.0.9
oscrypto==1.3.0
outcome==1.1.0
overrides==6.2.0
packaging==21.3
pandas==1.4.4
Pillow==9.2.0
playsound==1.3.0
pluggy==1.0.0
ply==3.11
protobuf==3.20.1
psutil==5.9.2
py==1.11.0
PyAudio==0.2.12
PyAutoGUI==0.9.53
pycparser==2.21
pydub==0.25.1
pygame==2.1.2
PyGetWindow==0.0.9
Pygments==2.12.0
pyHanko==0.13.2
pyhanko-certvalidator==0.19.5
PyMsgBox==1.0.9
pymsteams==0.2.1
pyOpenSSL==22.0.0
pyparsing==3.0.9
PyPDF3==1.0.6
pyperclip==1.8.2
pypiwin32==223
PyRect==0.2.0
pyrsistent==0.18.1
PyScreeze==0.1.28
PySocks==1.7.1
pytest==7.1.2
python-bidi==0.4.2
python-dateutil==2.8.2
python-dotenv==0.20.0
pyttsx3==2.90
pytweening==1.0.4
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
PyVirtualDisplay==0.2.4
PyWavelets==1.4.1
pywin32==304
pywin32-ctypes==0.2.0
PyYAML==6.0
qrcode==7.3.1
reportlab==3.6.11
requests==2.27.1
responses==0.21.0
RESTinstance==1.3.0
rfc3987==1.3.8
robotframework==5.0.1
robotframework-appiumlibrary==1.6.3
robotframework-assertion-engine==0.5.1
robotframework-browser==13.6.0
robotframework-datadriver==1.6.1
robotframework-jsonlibrary==0.5
robotframework-pabot==2.5.3
robotframework-pythonlibcore==3.0.0
robotframework-requests==0.9.3
robotframework-screencaplibrary==1.6.0
robotframework-seleniumlibrary==5.1.3
robotframework-stacktrace==0.4.1
scapy==2.4.5
scikit-image==0.19.3
scipy==1.9.1
selenium==3.141.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
SpeechRecognition==3.8.1
strict-rfc3339==0.7
svglib==1.4.1
testproject-python-sdk==1.2.3
testproject-robot-library==0.65.2
tifffile==2022.8.12
tinycss2==1.1.1
tomli==2.0.1
tqdm==4.64.1
trio==0.20.0
trio-websocket==0.9.2
typing_extensions==4.3.0
tzdata==2022.2
tzlocal==4.2
uritools==4.0.0
urllib3==1.26.9
validate-email==1.3
webdriver-manager==3.8.2
webencodings==0.5.1
wrapt==1.14.1
wsproto==1.1.0
xhtml2pdf==0.2.8
zipp==3.8.1
